<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/CampaignData_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
from collections import Counter
import pickle

from sklearn.preprocessing import LabelEncoder

!git init
!git config --global user.email "agolia14@gmail.com"
!git remote add origin https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

In [2]:
raw = pd.read_csv("data/train/campaign_data.csv", parse_dates=['start_date', 'end_date'])
raw.head()

   campaign_id campaign_type start_date   end_date
0           24             Y 2013-10-21 2013-12-20
1           25             Y 2013-10-21 2013-11-22
2           20             Y 2013-07-09 2013-11-16
3           23             Y 2013-08-10 2013-11-15
4           21             Y 2013-09-16 2013-10-18

In [3]:
data = pd.concat([raw,
           pd.DataFrame(columns=["start_day","start_month","start_year","end_day","end_month","end_year"])],
         axis=1)
data.head()

,campaign_id,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year
0,24,Y,2013-10-21,2013-12-20,NaN,NaN,NaN,NaN,NaN,NaN
1,25,Y,2013-10-21,2013-11-22,NaN,NaN,NaN,NaN,NaN,NaN
2,20,Y,2013-07-09,2013-11-16,NaN,NaN,NaN,NaN,NaN,NaN
3,23,Y,2013-08-10,2013-11-15,NaN,NaN,NaN,NaN,NaN,NaN
4,21,Y,2013-09-16,2013-10-18,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.start_day = [date.day for date in data.start_date]
data.start_month = [date.month for date in data.start_date]
data.start_year = [date.year-2000 for date in data.start_date]
data.end_day = [date.day for date in data.end_date]
data.end_month = [date.month for date in data.end_date]
data.end_year = [date.year-2000 for date in data.end_date]
data.head()

,campaign_id,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year
0,24,Y,2013-10-21,2013-12-20,21,10,13,20,12,13
1,25,Y,2013-10-21,2013-11-22,21,10,13,22,11,13
2,20,Y,2013-07-09,2013-11-16,9,7,13,16,11,13
3,23,Y,2013-08-10,2013-11-15,10,8,13,15,11,13
4,21,Y,2013-09-16,2013-10-18,16,9,13,18,10,13

In [5]:
le = LabelEncoder()
campaign_type = pd.DataFrame([le.fit_transform(raw.campaign_type)]).transpose()
campaign_type.columns = ["enc_campaign_type"]

data_enc = pd.concat([data, campaign_type], axis=1)
data_enc.head()

,campaign_id,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year,enc_campaign_type
0,24,Y,2013-10-21,2013-12-20,21,10,13,20,12,13,1
1,25,Y,2013-10-21,2013-11-22,21,10,13,22,11,13,1
2,20,Y,2013-07-09,2013-11-16,9,7,13,16,11,13,1
3,23,Y,2013-08-10,2013-11-15,10,8,13,15,11,13,1
4,21,Y,2013-09-16,2013-10-18,16,9,13,18,10,13,1

In [6]:
data_enc_oneHot = pd.concat([data_enc, 
                             pd.get_dummies(data_enc.campaign_type, prefix = "campaign")], axis=1)
data_enc_oneHot.head()

,campaign_id,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year,enc_campaign_type,campaign_X,campaign_Y
0,24,Y,2013-10-21,2013-12-20,21,10,13,20,12,13,1,0,1
1,25,Y,2013-10-21,2013-11-22,21,10,13,22,11,13,1,0,1
2,20,Y,2013-07-09,2013-11-16,9,7,13,16,11,13,1,0,1
3,23,Y,2013-08-10,2013-11-15,10,8,13,15,11,13,1,0,1
4,21,Y,2013-09-16,2013-10-18,16,9,13,18,10,13,1,0,1

In [7]:
npFile = open("npy/campaign_data.npy","wb")
pickle.dump(data_enc_oneHot, npFile)
npFile.close()

!git add npy/campaign_data.npy
!git commit -m "Adding Campaign Data npy"
!git push origin