<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/CampaignData_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from collections import Counter
import pickle

In [2]:
!git clone -b Data-Exploration https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git

fatal: destination path 'Coupan-Redemption-Prediction' already exists and is not an empty directory.

In [3]:
raw = pd.read_csv("Coupan-Redemption-Prediction/data/train/campaign_data.csv", parse_dates=['start_date', 'end_date'])
raw.head()

   campaign_id campaign_type start_date   end_date
0           24             Y 2013-10-21 2013-12-20
1           25             Y 2013-10-21 2013-11-22
2           20             Y 2013-07-09 2013-11-16
3           23             Y 2013-08-10 2013-11-15
4           21             Y 2013-09-16 2013-10-18

In [4]:
data = pd.concat([raw,
           pd.DataFrame(columns=["start_day","start_month","start_year","end_day","end_month","end_year"])],
         axis=1)
data.head()

   campaign_id campaign_type start_date  ... end_day end_month end_year
0           24             Y 2013-10-21  ...     NaN       NaN      NaN
1           25             Y 2013-10-21  ...     NaN       NaN      NaN
2           20             Y 2013-07-09  ...     NaN       NaN      NaN
3           23             Y 2013-08-10  ...     NaN       NaN      NaN
4           21             Y 2013-09-16  ...     NaN       NaN      NaN

[5 rows x 10 columns]

In [5]:
data.start_day = [date.day for date in data.start_date]
data.start_month = [date.month for date in data.start_date]
data.start_year = [date.year-2000 for date in data.start_date]
data.end_day = [date.day for date in data.end_date]
data.end_month = [date.month for date in data.end_date]
data.end_year = [date.year-2000 for date in data.end_date]
data.head()

   campaign_id campaign_type start_date  ... end_day  end_month  end_year
0           24             Y 2013-10-21  ...      20         12        13
1           25             Y 2013-10-21  ...      22         11        13
2           20             Y 2013-07-09  ...      16         11        13
3           23             Y 2013-08-10  ...      15         11        13
4           21             Y 2013-09-16  ...      18         10        13

[5 rows x 10 columns]

In [6]:
npFile = open("Coupan-Redemption-Prediction/npy/campaign_data.npy","w+")
pickle.dump(data, npFile)
npFile.close()

FileNotFoundError: ignored