<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/CampaignData_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from collections import Counter
import pickle

from sklearn.preprocessing import LabelEncoder

!git init
!git config --global user.email "agolia14@gmail.com"
!git remote add origin https://AccessToken@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

In [16]:
dateparse = lambda x: pd.datetime.strptime(x, '%d/%m/%y')
raw = pd.read_csv("data/train/campaign_data.csv", parse_dates=['start_date', 'end_date'], date_parser=dateparse)
raw

    campaign_id campaign_type start_date   end_date
0            24             Y 2013-10-21 2013-12-20
1            25             Y 2013-10-21 2013-11-22
2            20             Y 2013-09-07 2013-11-16
3            23             Y 2013-10-08 2013-11-15
4            21             Y 2013-09-16 2013-10-18
5            22             X 2013-09-16 2013-10-18
6            18             X 2013-08-10 2013-10-04
7            19             Y 2013-08-26 2013-09-27
8            17             Y 2013-07-29 2013-08-30
9            16             Y 2013-07-15 2013-08-16
10           13             X 2013-05-19 2013-07-05
11           11             Y 2013-04-22 2013-06-07
12           12             Y 2013-04-22 2013-05-24
13           10             Y 2013-04-08 2013-05-10
14            9             Y 2013-03-11 2013-04-12
15            8             X 2013-02-16 2013-04-05
16            7             Y 2013-02-02 2013-03-08
17            6             Y 2013-01-28 2013-03-01
18            3             Y 2012-12-22 2013-02-16
19            5             Y 2013-01-12 2013-02-15
20            4             Y 2013-01-07 2013-02-08
21            1             Y 2012-12-12 2013-01-18
22            2             Y 2012-12-17 2013-01-18
23           30             X 2012-11-19 2013-01-04
24           29             Y 2012-10-08 2012-11-30
25           28             Y 2012-09-16 2012-11-16
26           27             Y 2012-08-25 2012-10-27
27           26             X 2012-08-12 2012-09-21

In [9]:
data = pd.concat([raw,
           pd.DataFrame(columns=["start_day","start_month","start_year","end_day","end_month","end_year"])],
         axis=1)
data.head()

,campaign_id,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year
0,24,Y,2013-10-21,2013-12-20,NaN,NaN,NaN,NaN,NaN,NaN
1,25,Y,2013-10-21,2013-11-22,NaN,NaN,NaN,NaN,NaN,NaN
2,20,Y,2013-09-07,2013-11-16,NaN,NaN,NaN,NaN,NaN,NaN
3,23,Y,2013-10-08,2013-11-15,NaN,NaN,NaN,NaN,NaN,NaN
4,21,Y,2013-09-16,2013-10-18,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data.start_day = [date.day for date in data.start_date]
data.start_month = [date.month for date in data.start_date]
data.start_year = [date.year-2000 for date in data.start_date]
data.end_day = [date.day for date in data.end_date]
data.end_month = [date.month for date in data.end_date]
data.end_year = [date.year-2000 for date in data.end_date]
data.head()

,campaign_id,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year
0,24,Y,2013-10-21,2013-12-20,21,10,13,20,12,13
1,25,Y,2013-10-21,2013-11-22,21,10,13,22,11,13
2,20,Y,2013-09-07,2013-11-16,7,9,13,16,11,13
3,23,Y,2013-10-08,2013-11-15,8,10,13,15,11,13
4,21,Y,2013-09-16,2013-10-18,16,9,13,18,10,13

In [11]:
le = LabelEncoder()
campaign_type = pd.DataFrame([le.fit_transform(raw.campaign_type)]).transpose()
campaign_type.columns = ["enc_campaign_type"]

data_enc = pd.concat([data, campaign_type], axis=1)
data_enc.head()

,campaign_id,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year,enc_campaign_type
0,24,Y,2013-10-21,2013-12-20,21,10,13,20,12,13,1
1,25,Y,2013-10-21,2013-11-22,21,10,13,22,11,13,1
2,20,Y,2013-09-07,2013-11-16,7,9,13,16,11,13,1
3,23,Y,2013-10-08,2013-11-15,8,10,13,15,11,13,1
4,21,Y,2013-09-16,2013-10-18,16,9,13,18,10,13,1

In [12]:
data_enc_oneHot = pd.concat([data_enc, 
                             pd.get_dummies(data_enc.campaign_type, prefix = "campaign")], axis=1)
data_enc_oneHot.head()

,campaign_id,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year,enc_campaign_type,campaign_X,campaign_Y
0,24,Y,2013-10-21,2013-12-20,21,10,13,20,12,13,1,0,1
1,25,Y,2013-10-21,2013-11-22,21,10,13,22,11,13,1,0,1
2,20,Y,2013-09-07,2013-11-16,7,9,13,16,11,13,1,0,1
3,23,Y,2013-10-08,2013-11-15,8,10,13,15,11,13,1,0,1
4,21,Y,2013-09-16,2013-10-18,16,9,13,18,10,13,1,0,1

In [13]:
npFile = open("npy/campaign_data.npy","wb")
pickle.dump(data_enc_oneHot, npFile)
npFile.close()

!git add npy/campaign_data.npy
!git commit -m "Adding Campaign Data npy"
!git push origin