<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/CampaignData_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from collections import Counter
import pickle

from sklearn.preprocessing import LabelEncoder

In [2]:
!git init
!git config --global user.email "agolia14@gmail.com"
!git remote add origin https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

Initialized empty Git repository in /content/.git/
remote: Enumerating objects: 70, done.
remote: Counting objects: 100% (70/70), done.
remote: Compressing objects: 100% (58/58), done.
remote: Total 70 (delta 27), reused 38 (delta 7), pack-reused 0
Unpacking objects: 100% (70/70), done.
From https://github.com/agolia14/Coupan-Redemption-Prediction
 * [new branch]      Data-Exploration -> origin/Data-Exploration
 * [new branch]      master           -> origin/master
Branch 'Data-Exploration' set up to track remote branch 'Data-Exploration' from 'origin'.
Switched to a new branch 'Data-Exploration'

In [3]:
raw = pd.read_csv("data/train/campaign_data.csv", parse_dates=['start_date', 'end_date'])
raw.head()

   campaign_id campaign_type start_date   end_date
0           24             Y 2013-10-21 2013-12-20
1           25             Y 2013-10-21 2013-11-22
2           20             Y 2013-07-09 2013-11-16
3           23             Y 2013-08-10 2013-11-15
4           21             Y 2013-09-16 2013-10-18

In [4]:
data = pd.concat([raw,
           pd.DataFrame(columns=["start_day","start_month","start_year","end_day","end_month","end_year"])],
         axis=1)
data.head()

   campaign_id campaign_type start_date  ... end_day end_month end_year
0           24             Y 2013-10-21  ...     NaN       NaN      NaN
1           25             Y 2013-10-21  ...     NaN       NaN      NaN
2           20             Y 2013-07-09  ...     NaN       NaN      NaN
3           23             Y 2013-08-10  ...     NaN       NaN      NaN
4           21             Y 2013-09-16  ...     NaN       NaN      NaN

[5 rows x 10 columns]

In [5]:
data.start_day = [date.day for date in data.start_date]
data.start_month = [date.month for date in data.start_date]
data.start_year = [date.year-2000 for date in data.start_date]
data.end_day = [date.day for date in data.end_date]
data.end_month = [date.month for date in data.end_date]
data.end_year = [date.year-2000 for date in data.end_date]
data.head()

   campaign_id campaign_type start_date  ... end_day  end_month  end_year
0           24             Y 2013-10-21  ...      20         12        13
1           25             Y 2013-10-21  ...      22         11        13
2           20             Y 2013-07-09  ...      16         11        13
3           23             Y 2013-08-10  ...      15         11        13
4           21             Y 2013-09-16  ...      18         10        13

[5 rows x 10 columns]

In [8]:
le = LabelEncoder()
campaign_type = pd.DataFrame([le.fit_transform(raw.campaign_type)]).transpose()
campaign_type.columns = ["enc_campaign_type"]

data_enc = pd.concat([raw, campaign_type], axis=1)
data_enc.head()

   campaign_id campaign_type start_date   end_date  enc_campaign_type
0           24             Y 2013-10-21 2013-12-20                  1
1           25             Y 2013-10-21 2013-11-22                  1
2           20             Y 2013-07-09 2013-11-16                  1
3           23             Y 2013-08-10 2013-11-15                  1
4           21             Y 2013-09-16 2013-10-18                  1

In [9]:
data_enc_oneHot = pd.concat([data_enc, 
                             pd.get_dummies(data_enc.campaign_type, prefix = "campaign")], axis=1)
data_enc_oneHot.head()

   campaign_id campaign_type  ... campaign_X campaign_Y
0           24             Y  ...          0          1
1           25             Y  ...          0          1
2           20             Y  ...          0          1
3           23             Y  ...          0          1
4           21             Y  ...          0          1

[5 rows x 7 columns]

In [10]:
npFile = open("npy/campaign_data.npy","wb")
pickle.dump(data, npFile)
npFile.close()

!git add npy/campaign_data.npy
!git commit -m "Adding Campaign Data npy"
!git push origin

[Data-Exploration f3415ed] Adding Campaign Data npy
 1 file changed, 0 insertions(+), 0 deletions(-)
 rewrite npy/campaign_data.npy (60%)
Counting objects: 4, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (4/4), 1.27 KiB | 1.27 MiB/s, done.
Total 4 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/agolia14/Coupan-Redemption-Prediction.git
   b181b40..f3415ed  Data-Exploration -> Data-Exploration