<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/Customer_Demographics_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [175]:
import pandas as pd
from collections import Counter
import pickle

from sklearn.preprocessing import LabelEncoder

!git init
!git config --global user.email "agolia14@gmail.com"
!git remote add origin https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

In [176]:
raw = pd.read_csv("data/train/customer_demographics.csv")
raw.head()

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

In [177]:
raw.replace("3+", 3, inplace=True)
raw.replace("5+", 5, inplace=True)
print("age_range = ", Counter(raw.age_range))
print("marital_status = ", Counter(raw.marital_status))
print("rented = ", Counter(raw.rented))
print("family_size = ", Counter(raw.family_size))
print("no_of_children = ", Counter(raw.no_of_children))
print("income_bracket = ", Counter(raw.income_bracket))

age_range =  Counter({'46-55': 271, '36-45': 187, '26-35': 130, '70+': 68, '56-70': 59, '18-25': 45})
marital_status =  Counter({nan: 329, 'Married': 317, 'Single': 114})
rented =  Counter({0: 719, 1: 41})
family_size =  Counter({'2': 303, '1': 248, '3': 104, 5: 57, '4': 48})
no_of_children =  Counter({nan: 538, '1': 107, 3: 60, '2': 55})
income_bracket =  Counter({5: 187, 4: 165, 6: 88, 3: 70, 2: 68, 1: 59, 8: 37, 7: 32, 9: 29, 12: 10, 10: 10, 11: 5})

In [178]:
print(Counter(raw.no_of_children[raw.family_size == "1"]))
print(Counter(raw.marital_status[raw.family_size == "1"]))

Counter({nan: 248})
Counter({nan: 183, 'Single': 65})

In [179]:
print(Counter(raw.no_of_children[raw.family_size == "2"]))
print(Counter(raw.marital_status[raw.family_size == "2"]))
print(Counter(raw.age_range[(raw.family_size == "2") & (raw.marital_status == 'Single')]))
print(Counter(raw.age_range[(raw.family_size == "2") & (raw.marital_status == 'Married')]))
print(Counter(raw.age_range[(raw.marital_status.isna())]))

Counter({nan: 290, '1': 13})
Counter({'Married': 175, nan: 97, 'Single': 31})
Counter({'46-55': 9, '36-45': 7, '26-35': 5, '70+': 4, '18-25': 4, '56-70': 2})
Counter({'46-55': 61, '36-45': 36, '70+': 30, '56-70': 29, '26-35': 15, '18-25': 4})
Counter({'46-55': 143, '36-45': 64, '26-35': 59, '18-25': 26, '70+': 22, '56-70': 15})

In [180]:
print(Counter(raw.no_of_children[raw.family_size == "3"]))
print(Counter(raw.marital_status[raw.family_size == "3"]))
print(Counter(raw.no_of_children[(raw.family_size == "3") & (raw.marital_status == 'Single')]))
print(Counter(raw.no_of_children[(raw.family_size == "3") & (raw.marital_status == 'Married')]))

Counter({'1': 94, '2': 10})
Counter({'Married': 63, nan: 30, 'Single': 11})
Counter({'2': 6, '1': 5})
Counter({'1': 63})

In [181]:
print(Counter(raw.no_of_children[raw.family_size == "4"]))
print(Counter(raw.marital_status[raw.family_size == "4"]))
print(Counter(raw.no_of_children[(raw.family_size == "4") & (raw.marital_status == 'Married')]))
print(Counter(raw.no_of_children[(raw.family_size == "4") & (raw.marital_status == 'Single')]))

Counter({'2': 45, 3: 3})
Counter({'Married': 31, nan: 13, 'Single': 4})
Counter({'2': 31})
Counter({'2': 2, 3: 2})

In [182]:
print(Counter(raw.no_of_children[raw.family_size == 5]))
print(Counter(raw.marital_status[raw.family_size == 5]))

Counter({3: 57})
Counter({'Married': 48, nan: 6, 'Single': 3})

In [183]:
raw.no_of_children[(raw.family_size == "1") & (raw.no_of_children.isna())] = '0'
raw.marital_status[(raw.family_size == "1") & (raw.marital_status.isna())] = 'Single'

raw.no_of_children[(raw.marital_status == 'Married') & (raw.family_size == "2") & (raw.no_of_children.isna())] = '0'
raw.no_of_children[(raw.family_size == "2") & (raw.marital_status == 'Single') & (raw.no_of_children.isna())] = '1'
raw.marital_status[(raw.family_size == "2") & (raw.no_of_children == '1') & (raw.marital_status.isna())] = 'Single'

raw.marital_status[(raw.family_size == "3") & (raw.no_of_children == '2') & (raw.marital_status.isna())] = 'Single'
raw.marital_status[(raw.family_size == "3") & (raw.no_of_children == '1') & (raw.marital_status.isna())] = 'Married'

raw.marital_status[(raw.family_size == "4") & (raw.no_of_children == '2') & (raw.marital_status.isna())] = 'Married'
raw.marital_status[(raw.family_size == "4") & (raw.no_of_children == 3) & (raw.marital_status.isna())] = 'Single'

raw.marital_status[(raw.family_size == 5) & (raw.marital_status.isna())] = 'Married'

raw.no_of_children[raw.no_of_children.isna()] = '-1'
raw.marital_status[raw.marital_status.isna()] = "Unknown"

raw.no_of_children = pd.to_numeric(raw.no_of_children)
raw.family_size = pd.to_numeric(raw.family_size)

data = raw.copy()

c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [184]:
data.dtypes

customer_id        int64
age_range         object
marital_status    object
rented             int64
family_size        int64
no_of_children     int64
income_bracket     int64
dtype: object

In [185]:
le = LabelEncoder()
age_range = pd.DataFrame([le.fit_transform(data.age_range)]).transpose()
marital_status = pd.DataFrame([le.fit_transform(data.marital_status)]).transpose()
age_range.columns = ["enc_age_range"]
marital_status.columns = ["enc_marital_status"]

data_enc = pd.concat([data, age_range, marital_status], axis=1)
data_enc.head()

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket,enc_age_range,enc_marital_status
0,1,70+,Married,0,2,0,4,5,0
1,6,46-55,Married,0,2,0,5,3,0
2,7,26-35,Married,0,3,1,3,1,0
3,8,26-35,Married,0,4,2,6,1,0
4,10,46-55,Single,0,1,0,5,3,1

In [186]:
data_enc_oneHot = pd.concat([data_enc, 
                             pd.get_dummies(data_enc.age_range, prefix = "Age"),
                             pd.get_dummies(data_enc.marital_status)], axis=1)
data_enc_oneHot.head()

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket,enc_age_range,enc_marital_status,Age_18-25,Age_26-35,Age_36-45,Age_46-55,Age_56-70,Age_70+,Married,Single,Unknown
0,1,70+,Married,0,2,0,4,5,0,0,0,0,0,0,1,1,0,0
1,6,46-55,Married,0,2,0,5,3,0,0,0,0,1,0,0,1,0,0
2,7,26-35,Married,0,3,1,3,1,0,0,1,0,0,0,0,1,0,0
3,8,26-35,Married,0,4,2,6,1,0,0,1,0,0,0,0,1,0,0
4,10,46-55,Single,0,1,0,5,3,1,0,0,0,1,0,0,0,1,0

In [187]:
npFile = open("npy/customer_demographics.npy","wb")
pickle.dump(data_enc_oneHot, npFile)
npFile.close()

#!git add npy/item_data.npy
#!git commit -m "Adding Item Data npy"
#!git push origin