<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/Customer_Transaction_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from collections import Counter
import pickle

from sklearn.preprocessing import LabelEncoder

In [0]:
!git init
!git config --global user.email "agolia14@gmail.com"

!curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
!sudo apt-get install git-lfs

!git remote add origin https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

Initialized empty Git repository in /content/.git/
Detected operating system as Ubuntu/bionic.
Checking for curl...
Detected curl...
Checking for gpg...
Detected gpg...
Running apt-get update... done.
Installing apt-transport-https... done.
Installing /etc/apt/sources.list.d/github_git-lfs.list...done.
Importing packagecloud gpg key... done.
Running apt-get update... done.

The repository is setup! You can now install packages.
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  git-lfs
0 upgraded, 1 newly installed, 0 to remove and 139 not upgraded.
Need to get 5,740 kB of archives.
After this operation, 14.0 MB of additional disk space will be used.
Get:1 https://packagecloud.io/github/git-lfs/ubuntu bionic/main amd64 git-lfs amd64 2.8.0 [5,740 kB]
Fetched 5,740 kB in 0s (16.3 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package git-lfs.
(Reading database ... 131187 files and directories currently installed.)
Preparing to unpack .../git-lfs_2.8.0_amd64.deb ...
Unpacking git-lfs (2.8.0) ...
Setting up git-lfs (2.8.0) ...
Git LFS initialized.
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
remote: Enumerating objects: 168, done.
remote: Counting objects: 100% (168/168), done.
remote: Compressing objects: 100% (131/131), done.
remote: Total 168 (delta 85), reused 92 (delta 32), pack-reused 0
Receiving objects: 100% (168/168), 11.82 MiB | 15.92 MiB/s, done.
Resolving deltas: 100% (85/85), done.
From https://github.com/agolia14/Coupan-Redemption-Prediction
 * [new branch]      Data-Exploration -> origin/Data-Exploration
 * [new branch]      master           -> origin/master
Branch 'Data-Exploration' set up to track remote branch 'Data-Exploration' from 'origin'.
Switched to a new branch 'Data-Exploration'
Encountered 3 file(s) that should have been pointers, but weren't:
	npy/campaign_data.npy
	npy/customer_demographics.npy
	npy/item_data.npy

## Make it Code Cell Only if GIT is not ready for large files
!git lfs install

!git lfs track "*.npy"

!git add .gitattributes

!git commit -m "Updating git Attributes"

!git push origin

In [5]:
raw = pd.read_csv("data/train/customer_transaction_data.csv", parse_dates=['date'], infer_datetime_format=True)
raw.head()

        date  customer_id  ...  other_discount  coupon_discount
0 2012-01-02         1501  ...          -10.69              0.0
1 2012-01-02         1501  ...          -13.89              0.0
2 2012-01-02         1501  ...          -14.25              0.0
3 2012-01-02         1501  ...            0.00              0.0
4 2012-01-02         1501  ...          -28.14              0.0

[5 rows x 7 columns]

In [6]:
data = pd.concat([raw,
           pd.DataFrame(columns=["day","month","year"])],
         axis=1)

data.day = [date.day for date in data.date]
data.month = [date.month for date in data.date]
data.year = [date.year-2000 for date in data.date]

data.head()

        date  customer_id  item_id  quantity  ...  coupon_discount  day  month  year
0 2012-01-02         1501    26830         1  ...              0.0    2      1    12
1 2012-01-02         1501    54253         1  ...              0.0    2      1    12
2 2012-01-02         1501    31962         1  ...              0.0    2      1    12
3 2012-01-02         1501    33647         1  ...              0.0    2      1    12
4 2012-01-02         1501    48199         1  ...              0.0    2      1    12

[5 rows x 10 columns]

In [7]:
data.dtypes

date               datetime64[ns]
customer_id                 int64
item_id                     int64
quantity                    int64
selling_price             float64
other_discount            float64
coupon_discount           float64
day                         int64
month                       int64
year                        int64
dtype: object

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324566 entries, 0 to 1324565
Data columns (total 10 columns):
date               1324566 non-null datetime64[ns]
customer_id        1324566 non-null int64
item_id            1324566 non-null int64
quantity           1324566 non-null int64
selling_price      1324566 non-null float64
other_discount     1324566 non-null float64
coupon_discount    1324566 non-null float64
day                1324566 non-null int64
month              1324566 non-null int64
year               1324566 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 101.1 MB

In [0]:
npFile = open("npy/customer_transaction_data.npy","wb")
pickle.dump(data, npFile)
npFile.close()

In [10]:
!git add npy/customer_transaction_data.npy
!git commit -m "Adding Campaign Data npy"
!git push origin

[Data-Exploration bb17714] Adding Campaign Data npy
 1 file changed, 2 insertions(+), 2 deletions(-)
Uploading LFS objects: 100% (1/1), 106 MB | 0 B/s, done
Counting objects: 4, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 433 bytes | 433.00 KiB/s, done.
Total 4 (delta 2), reused 1 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/agolia14/Coupan-Redemption-Prediction.git
   58506a1..bb17714  Data-Exploration -> Data-Exploration