<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/Data%20Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from collections import Counter

import pickle

In [2]:
!git init
!git config --global user.email "agolia14@gmail.com"
!git remote add origin https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

!curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
!sudo apt-get install git-lfs

'git' is not recognized as an internal or external command,
operable program or batch file.
'git' is not recognized as an internal or external command,
operable program or batch file.
'git' is not recognized as an internal or external command,
operable program or batch file.
'git' is not recognized as an internal or external command,
operable program or batch file.
'git' is not recognized as an internal or external command,
operable program or batch file.
'curl' is not recognized as an internal or external command,
operable program or batch file.
'sudo' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
raw = pd.read_csv("data/train/train.csv")
campaign_data = np.load("npy/campaign_data.npy", allow_pickle=True)
coup_item_map = pd.read_csv("data/train/coupon_item_mapping.csv")
cust_trans = np.load("npy/customer_transaction_data.npy", allow_pickle=True)
cust_demographics = np.load("npy/customer_demographics.npy", allow_pickle=True)
item_data = np.load("npy/item_data.npy", allow_pickle=True)
print("Shape = ", raw.shape)
raw.head()

Shape =  (78369, 5)

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [4]:
raw_campaign = raw.merge(campaign_data, how='left').drop(['campaign_id'],axis=1)
print("Shape = ", raw_campaign.shape)
raw_campaign.head()

Shape =  (78369, 16)

,id,coupon_id,customer_id,redemption_status,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year,enc_campaign_type,campaign_X,campaign_Y
0,1,27,1053,0,X,2013-05-19,2013-07-05,19,5,13,5,7,13,0,1,0
1,2,116,48,0,X,2013-05-19,2013-07-05,19,5,13,5,7,13,0,1,0
2,6,635,205,0,Y,2013-03-11,2013-04-12,11,3,13,12,4,13,1,0,1
3,7,644,1050,0,X,2013-05-19,2013-07-05,19,5,13,5,7,13,0,1,0
4,9,1017,1489,0,X,2013-02-16,2013-04-05,16,2,13,5,4,13,0,1,0

In [15]:
coup_item_data = coup_item_map.merge(item_data, how='left').drop(['item_id'], axis=1).drop_duplicates()
print("Shape = ", coup_item_data.shape)
coup_item_data.head()

Shape =  (8473, 27)

,coupon_id,brand,brand_type,category,enc_brand_type,enc_category,brand_Established,brand_Local,Alcohol,Bakery,...,Natural Products,Packaged Meat,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut)
0,105,56,Local,Grocery,1,6,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,107,56,Local,Grocery,1,6,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,494,209,Established,Grocery,0,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,522,278,Established,Grocery,0,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,518,278,Established,Grocery,0,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
raw_campaign_coupItem = raw_campaign.merge(coup_item_data, how="left")
print("Shape = ", raw_campaign_coupItem.shape)
raw_campaign_coupItem.head()

Shape =  (580471, 42)

,id,coupon_id,customer_id,redemption_status,campaign_type,start_date,end_date,start_day,start_month,start_year,...,Natural Products,Packaged Meat,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut)
0,1,27,1053,0,X,2013-05-19,2013-07-05,19,5,13,...,0,0,0,0,0,0,0,0,0,0
1,1,27,1053,0,X,2013-05-19,2013-07-05,19,5,13,...,0,0,0,0,0,0,0,0,0,0
2,2,116,48,0,X,2013-05-19,2013-07-05,19,5,13,...,0,0,0,0,0,0,0,0,0,0
3,6,635,205,0,Y,2013-03-11,2013-04-12,11,3,13,...,0,0,1,0,0,0,0,0,0,0
4,7,644,1050,0,X,2013-05-19,2013-07-05,19,5,13,...,0,0,0,0,0,0,0,0,0,0

In [24]:
print("Shape = ", cust_trans.shape)
cust_trans.head()

Shape =  (1324566, 10)

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,day,month,year
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,12
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0,2,1,12
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0,2,1,12
3,2012-01-02,1501,33647,1,67.32,0.00,0.0,2,1,12
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0,2,1,12

In [17]:
raw_campaign[raw_campaign.redemption_status == 1].head()

,id,coupon_id,customer_id,redemption_status,campaign_type,start_date,end_date,start_day,start_month,start_year,end_day,end_month,end_year,enc_campaign_type,campaign_X,campaign_Y
44,72,413,276,1,X,2013-05-19,2013-07-05,19,5,13,5,7,13,0,1,0
181,299,960,467,1,X,2013-05-19,2013-07-05,19,5,13,5,7,13,0,1,0
217,359,797,214,1,X,2012-08-12,2012-09-21,12,8,12,21,9,12,0,1,0
237,387,754,1103,1,X,2013-05-19,2013-07-05,19,5,13,5,7,13,0,1,0
607,998,21,1457,1,X,2013-05-19,2013-07-05,19,5,13,5,7,13,0,1,0

In [18]:
redem_date = raw_campaign[raw_campaign.redemption_status == 1].iloc[0,[5,6]]
        
cust_trans[(cust_trans.customer_id == 276) & (cust_trans.coupon_discount != 0) & 
           (cust_trans.date.ge(redem_date[0])) & (cust_trans.date.le(redem_date[1]))]

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,day,month,year
1241481,2013-06-02,276,28612,2,188.07,-28.50,-10.69,2,6,13
1261657,2013-06-10,276,5235,2,91.90,0.00,-14.25,10,6,13
1261659,2013-06-10,276,13609,1,53.43,-45.95,-17.81,10,6,13
1261660,2013-06-10,276,13609,1,53.43,-45.95,-17.81,10,6,13
1261664,2013-06-10,276,28289,5,89.05,-10.69,-17.81,10,6,13
1289750,2013-06-20,276,9748,1,69.46,-38.83,-26.71,20,6,13
1289751,2013-06-20,276,9748,1,69.46,-38.83,-26.71,20,6,13
1295730,2013-06-22,276,24453,1,142.12,-24.93,-35.62,22,6,13
1295731,2013-06-22,276,24453,1,142.12,-24.93,-35.62,22,6,13