<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/Data%20Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from collections import Counter

In [2]:
!git clone -b Data-Exploration https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git

fatal: destination path 'Coupan-Redemption-Prediction' already exists and is not an empty directory.

In [12]:
raw = pd.read_csv("Coupan-Redemption-Prediction/data/train/train.csv")
campaign_data = pd.read_csv("Coupan-Redemption-Prediction/data/train/campaign_data.csv")
coup_item_map = pd.read_csv("Coupan-Redemption-Prediction/data/train/coupon_item_mapping.csv")
cust_trans = pd.read_csv("Coupan-Redemption-Prediction/data/train/customer_transaction_data.csv")
cust_demographics = pd.read_csv("Coupan-Redemption-Prediction/data/train/customer_demographics.csv")
item_data = pd.read_csv("Coupan-Redemption-Prediction/data/train/item_data.csv")
raw.head()

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [20]:
raw_campaign = raw.merge(campaign_data, how='left').drop(['campaign_id'],axis=1)
raw_campaign.head()

   id  coupon_id  customer_id  ...  campaign_type start_date  end_date
0   1         27         1053  ...              X   19/05/13  05/07/13
1   2        116           48  ...              X   19/05/13  05/07/13
2   6        635          205  ...              Y   11/03/13  12/04/13
3   7        644         1050  ...              X   19/05/13  05/07/13
4   9       1017         1489  ...              X   16/02/13  05/04/13

[5 rows x 7 columns]

In [22]:
coup_item_data = coup_item_map.merge(item_data, how='left')
coup_item_data.head()

   coupon_id  item_id  brand   brand_type category
0        105       37     56        Local  Grocery
1        107       75     56        Local  Grocery
2        494       76    209  Established  Grocery
3        522       77    278  Established  Grocery
4        518       77    278  Established  Grocery

In [32]:
raw_campaign_item = raw_campaign.merge(coup_item_data, how='left').drop(['coupon_id'], axis=1)
raw_campaign_item.head()

   id  customer_id  redemption_status  ... brand   brand_type category
0   1         1053                  0  ...  1636  Established  Grocery
1   1         1053                  0  ...  1636  Established  Grocery
2   1         1053                  0  ...  1636  Established  Grocery
3   1         1053                  0  ...  1636  Established  Grocery
4   1         1053                  0  ...  1636  Established  Grocery

[5 rows x 10 columns]

In [33]:
cust_trans[cust_trans.coupon_discount !=0][cust_trans.customer_id == 464]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

               date  customer_id  ...  other_discount  coupon_discount
88       2012-01-02          464  ...          -35.62           -35.62
93       2012-01-02          464  ...          -24.58           -14.25
104      2012-01-02          464  ...          -14.96           -35.62
107      2012-01-02          464  ...          -32.06           -26.71
112      2012-01-02          464  ...          -45.59           -35.62
113      2012-01-02          464  ...          -21.37           -35.62
123      2012-01-02          464  ...          -38.83           -35.62
129      2012-01-02          464  ...            0.00           -35.62
143      2012-01-02          464  ...          -53.07           -35.62
151      2012-01-02          464  ...            0.00           -21.02
153      2012-01-02          464  ...          -17.45           -19.59
5788     2012-01-19          464  ...            0.00           -35.62
5792     2012-01-19          464  ...            0.00           -35.62
7726     2012-01-23          464  ...          -21.37            -8.90
8189     2012-01-24          464  ...          -35.62           -17.81
12288    2012-01-31          464  ...          -71.24           -12.47
13518    2012-02-02          464  ...            0.00           -17.81
14510    2012-02-03          464  ...          -27.78           -17.81
16875    2012-02-06          464  ...          -17.81           -26.71
19176    2012-02-09          464  ...          -42.74           -35.62
19182    2012-02-09          464  ...           -9.62           -26.71
19187    2012-02-09          464  ...           -7.12           -26.71
19188    2012-02-09          464  ...          -17.81           -35.62
19205    2012-02-09          464  ...          -19.23           -35.62
19215    2012-02-09          464  ...           -6.06           -26.71
19218    2012-02-09          464  ...          -17.81           -26.71
19220    2012-02-09          464  ...          -24.93           -17.81
19235    2012-02-09          464  ...          -44.52           -35.62
19238    2012-02-09          464  ...           -5.34           -14.25
19244    2012-02-09          464  ...           -6.77           -17.81
...             ...          ...  ...             ...              ...
1128013  2013-04-20          464  ...          -21.37           -35.62
1141172  2013-04-26          464  ...          -35.62            -8.90
1176186  2013-05-09          464  ...            0.00           -44.88
1176196  2013-05-09          464  ...         -142.48           -71.24
1176197  2013-05-09          464  ...           -6.77           -35.62
1193464  2013-05-15          464  ...         -142.48           -19.59
1208592  2013-05-20          464  ...          -18.17           -35.62
1208605  2013-05-20          464  ...          -29.92           -12.47
1208606  2013-05-20          464  ...          -25.29           -35.62
1208611  2013-05-20          464  ...          -29.92           -17.81
1208612  2013-05-20          464  ...          -61.98           -14.25
1216306  2013-05-23          464  ...         -117.55           -17.81
1231947  2013-05-29          464  ...          -49.16           -35.62
1231952  2013-05-29          464  ...          -42.03           -53.43
1245448  2013-06-03          464  ...          -40.61           -40.96
1245450  2013-06-03          464  ...          -81.57           -44.52
1245457  2013-06-03          464  ...          -51.29           -44.52
1245460  2013-06-03          464  ...           -3.56           -17.81
1260914  2013-06-09          464  ...         -122.89           -14.25
1260916  2013-06-09          464  ...          -51.29           -17.81
1260919  2013-06-09          464  ...            0.00           -26.71
1283136  2013-06-17          464  ...            0.00           -12.47
1291497  2013-06-20          464  ...            0.00           -19.59
1291498  2013-06-20          464  ...            0.00           -19.59
1291501  2013-06-20          464  ...            0.00           -97.96
1291502  2013-06-20          464  ...            0.00           -78.36
1291528  2013-06-20          464  ...           -7.12           -17.81
1291553  2013-06-20          464  ...            0.00           -39.18
1291554  2013-06-20          464  ...            0.00           -19.59
1315623  2013-06-29          464  ...          -64.12           -14.25

[220 rows x 7 columns]

In [34]:
raw_campaign_item[raw_campaign_item.customer_id == 464][raw_campaign_item.redemption_status == 1]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

             id  customer_id  redemption_status  ... brand   brand_type category
2288705   43127          464                  1  ...    56        Local  Grocery
2288706   43127          464                  1  ...    56        Local  Grocery
2288707   43127          464                  1  ...    56        Local  Grocery
2288708   43127          464                  1  ...    56        Local  Grocery
2288709   43127          464                  1  ...    56        Local  Grocery
2288710   43127          464                  1  ...    56        Local  Grocery
2288711   43127          464                  1  ...    56        Local  Grocery
2288712   43127          464                  1  ...    56        Local  Grocery
2288713   43127          464                  1  ...    56        Local  Grocery
2288714   43127          464                  1  ...    56        Local  Grocery
2288715   43127          464                  1  ...    56        Local  Grocery
2288716   43127          464                  1  ...    56        Local  Grocery
2288717   43127          464                  1  ...    56        Local  Grocery
2288718   43127          464                  1  ...    56        Local  Grocery
2288719   43127          464                  1  ...    56        Local  Grocery
2288720   43127          464                  1  ...    56        Local  Grocery
2288721   43127          464                  1  ...    56        Local  Grocery
2288722   43127          464                  1  ...    56        Local  Grocery
2288723   43127          464                  1  ...    56        Local  Grocery
2288724   43127          464                  1  ...    56        Local  Grocery
2288725   43127          464                  1  ...    56        Local  Grocery
2288726   43127          464                  1  ...    56        Local  Grocery
2288727   43127          464                  1  ...    56        Local  Grocery
2288728   43127          464                  1  ...    56        Local  Grocery
2288729   43127          464                  1  ...    56        Local  Grocery
2288730   43127          464                  1  ...    56        Local  Grocery
2288731   43127          464                  1  ...    56        Local  Grocery
5316977  105977          464                  1  ...    56        Local  Grocery
5316978  105977          464                  1  ...    56        Local  Grocery
5316979  105977          464                  1  ...    56        Local  Grocery
...         ...          ...                ...  ...   ...          ...      ...
5560982  110750          464                  1  ...   676  Established  Grocery
5560983  110750          464                  1  ...   676  Established  Grocery
5560984  110750          464                  1  ...   676  Established  Grocery
5560985  110750          464                  1  ...   676  Established  Grocery
5560986  110750          464                  1  ...   676  Established  Grocery
5560987  110750          464                  1  ...   676  Established  Grocery
5560988  110750          464                  1  ...   676  Established  Grocery
5560989  110750          464                  1  ...   676  Established  Grocery
5560990  110750          464                  1  ...   676  Established  Grocery
5560991  110750          464                  1  ...   676  Established  Grocery
5560992  110750          464                  1  ...   676  Established  Grocery
5560993  110750          464                  1  ...   676  Established  Grocery
5560994  110750          464                  1  ...   676  Established  Grocery
5560995  110750          464                  1  ...   676  Established  Grocery
5560996  110750          464                  1  ...   676  Established  Grocery
5560997  110750          464                  1  ...   676  Established  Grocery
5560998  110750          464                  1  ...   676  Established  Grocery
5560999  110750          464                  1  ...   676  Established  Grocery
5561000  110750          464                  1  ...   676  Established  Grocery
5561001  110750          464                  1  ...   676  Established  Grocery
5561002  110750          464                  1  ...   676  Established  Grocery
5561003  110750          464                  1  ...   676  Established  Grocery
5561004  110750          464                  1  ...   676  Established  Grocery
5561005  110750          464                  1  ...   676  Established  Grocery
5561006  110750          464                  1  ...   676  Established  Grocery
5561007  110750          464                  1  ...   676  Established  Grocery
5561008  110750          464                  1  ...   676  Established  Grocery
5561009  110750          464                  1  ...   676  Established  Grocery
5561010  110750          464                  1  ...   676  Established  Grocery
5561011  110750          464                  1  ...   676  Established  Grocery

[184 rows x 10 columns]

In [40]:
print(raw.shape)
print(raw_campaign.shape)
print(raw_campaign_item.shape)
print(item_data.shape)
print(coup_item_data.shape)
print(coup_item_map.shape)

(78369, 5)
(78369, 7)
(6420694, 10)
(74066, 4)
(92663, 5)
(92663, 2)

In [44]:
Counter(coup_item_map.coupon_id).most_common(20)

[(32, 11814),
 (23, 11813),
 (22, 4947),
 (31, 4873),
 (24, 4394),
 (33, 4394),
 (8, 3718),
 (6, 3713),
 (29, 3385),
 (20, 3372),
 (21, 3153),
 (30, 3151),
 (7, 2942),
 (43, 1589),
 (42, 1589),
 (9, 1535),
 (37, 1085),
 (549, 318),
 (270, 247),
 (562, 148)]

In [47]:
coup_item_map[coup_item_map.coupon_id == 32]

       coupon_id  item_id
62785         32     5570
62789         32    34811
62791         32    51023
62798         32    60749
62799         32    61702
62800         32     6465
62801         32    17839
62802         32    25336
62803         32    28646
62804         32    32359
62808         32     6680
62811         32    24984
62812         32    28854
62822         32    33692
62825         32    28521
62826         32    51330
62828         32    53096
62829         32    53108
62831         32    35661
62835         32    37761
62846         32    58765
62847         32    60165
62852         32    59575
62853         32    51544
62854         32    21571
62859         32    14694
62860         32    18141
62862         32    21770
62863         32    25614
62864         32    41631
...          ...      ...
92611         32    73035
92615         32    72309
92616         32    73951
92617         32    73190
92618         32    73390
92619         32    71775
92623         32    73031
92624         32    72159
92625         32    72106
92626         32    73267
92627         32    73170
92628         32    73046
92629         32    63220
92630         32    63142
92631         32    62983
92632         32    63109
92633         32    62859
92634         32    71829
92636         32    73140
92640         32    69187
92647         32    69676
92650         32    68955
92651         32    69040
92652         32    68877
92653         32    66284
92655         32    69717
92657         32    71135
92658         32    69268
92659         32    68502
92660         32    68612

[11814 rows x 2 columns]

In [48]:
Counter(item_data.category)

Counter({'Alcohol': 303,
         'Bakery': 1679,
         'Dairy, Juices & Snacks': 2425,
         'Flowers & Plants': 664,
         'Fuel': 14,
         'Garden': 102,
         'Grocery': 32448,
         'Meat': 2080,
         'Miscellaneous': 385,
         'Natural Products': 2533,
         'Packaged Meat': 1966,
         'Pharmaceutical': 24471,
         'Prepared Food': 1880,
         'Restauarant': 78,
         'Salads': 40,
         'Seafood': 728,
         'Skin & Hair Care': 2244,
         'Travel': 19,
         'Vegetables (cut)': 7})

In [50]:
Counter(item_data.brand).most_common(20)

[(56, 10480),
 (686, 1142),
 (1, 1091),
 (4700, 923),
 (1262, 906),
 (487, 735),
 (619, 717),
 (946, 626),
 (4467, 607),
 (1124, 594),
 (172, 556),
 (278, 547),
 (602, 546),
 (89, 451),
 (158, 441),
 (1470, 426),
 (971, 412),
 (866, 407),
 (771, 398),
 (808, 392)]

In [51]:
campaign_data[campaign_data.campaign_id == 22]

   campaign_id campaign_type start_date  end_date
5           22             X   16/09/13  18/10/13

In [52]:
raw[raw.campaign_id == 22]

Empty DataFrame
Columns: [id, campaign_id, coupon_id, customer_id, redemption_status]
Index: []