<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/Item_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from collections import Counter
import pickle

from sklearn.preprocessing import LabelEncoder

In [3]:
!git init
!git config --global user.email "agolia14@gmail.com"
!git remote add origin https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

Reinitialized existing Git repository in /content/.git/
fatal: remote origin already exists.
Branch 'Data-Exploration' set up to track remote branch 'Data-Exploration' from 'origin'.
Switched to a new branch 'Data-Exploration'

In [4]:
raw = pd.read_csv("data/train/item_data.csv")
raw.head()

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [6]:
Counter(raw.brand_type)

Counter({'Established': 62842, 'Local': 11224})

In [7]:
Counter(raw.category)

Counter({'Alcohol': 303,
         'Bakery': 1679,
         'Dairy, Juices & Snacks': 2425,
         'Flowers & Plants': 664,
         'Fuel': 14,
         'Garden': 102,
         'Grocery': 32448,
         'Meat': 2080,
         'Miscellaneous': 385,
         'Natural Products': 2533,
         'Packaged Meat': 1966,
         'Pharmaceutical': 24471,
         'Prepared Food': 1880,
         'Restauarant': 78,
         'Salads': 40,
         'Seafood': 728,
         'Skin & Hair Care': 2244,
         'Travel': 19,
         'Vegetables (cut)': 7})

In [0]:
data =