<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/Customer_Demographics_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from collections import Counter
import pickle

from sklearn.preprocessing import LabelEncoder

!git init
!git config --global user.email "agolia14@gmail.com"
!git remote add origin https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

In [2]:
raw = pd.read_csv("data/train/customer_demographics.csv")
raw.head()

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

In [21]:
raw.replace("3+", 3, inplace=True)
raw.replace("5+", 5, inplace=True)
raw = raw.infer_objects()
print("age_range = ", Counter(raw.age_range))
print("marital_status = ", Counter(raw.marital_status))
print("rented = ", Counter(raw.rented))
print("family_size = ", Counter(raw.family_size))
print("no_of_children = ", Counter(raw.no_of_children))
print("income_bracket = ", Counter(raw.income_bracket))

age_range =  Counter({'46-55': 271, '36-45': 187, '26-35': 130, '70+': 68, '56-70': 59, '18-25': 45})
marital_status =  Counter({'Married': 317, 'Single': 297, nan: 146})
rented =  Counter({0: 719, 1: 41})
family_size =  Counter({'2': 303, '1': 248, '3': 104, 5: 57, '4': 48})
no_of_children =  Counter({nan: 290, 0: 248, '1': 107, 3: 60, '2': 55})
income_bracket =  Counter({5: 187, 4: 165, 6: 88, 3: 70, 2: 68, 1: 59, 8: 37, 7: 32, 9: 29, 12: 10, 10: 10, 11: 5})

In [23]:
print(Counter(raw.no_of_children[raw.family_size == "1"]))
print(Counter(raw.marital_status[raw.family_size == "1"]))

Counter({0: 248})
Counter({'Single': 248})

In [31]:
print(Counter(raw.no_of_children[raw.family_size == "2"]))
print(Counter(raw.marital_status[raw.family_size == "2"]))

Counter({nan: 290, '1': 13})
Counter({'Married': 175, nan: 97, 'Single': 31})

In [25]:
print(Counter(raw.no_of_children[raw.family_size == "3"]))
print(Counter(raw.marital_status[raw.family_size == "3"]))

Counter({'1': 94, '2': 10})
Counter({'Married': 63, nan: 30, 'Single': 11})

In [26]:
print(Counter(raw.no_of_children[raw.family_size == "4"]))
print(Counter(raw.marital_status[raw.family_size == "4"]))

Counter({'2': 45, 3: 3})
Counter({'Married': 31, nan: 13, 'Single': 4})

In [27]:
print(Counter(raw.no_of_children[raw.family_size == 5]))
print(Counter(raw.marital_status[raw.family_size == 5]))

Counter({3: 57})
Counter({'Married': 48, nan: 6, 'Single': 3})

In [32]:
raw.no_of_children[raw.family_size == "1"] = 0
raw.marital_status[raw.family_size == "1"] = 'Single'

raw.no_of_children[raw.family_size == "2"][raw.marital_status == 'Married'] = 0
raw.no_of_children[raw.family_size == "2"][raw.marital_status == 'Single'] = 1
raw.marital_status[raw.family_size == "2"][raw.no_of_children == '1'] = 'Single'

raw.marital_status[raw.family_size == "3"][raw.no_of_children == '2'] = 'Single'

c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\users\ashu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy