<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/Customer_Transaction_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from collections import Counter
import pickle

from sklearn.preprocessing import LabelEncoder

In [2]:
!git init
!git config --global user.email "agolia14@gmail.com"

!curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
!sudo apt-get install git-lfs

!git remote add origin https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

'git' is not recognized as an internal or external command,
operable program or batch file.
'git' is not recognized as an internal or external command,
operable program or batch file.
'curl' is not recognized as an internal or external command,
operable program or batch file.
'sudo' is not recognized as an internal or external command,
operable program or batch file.
'git' is not recognized as an internal or external command,
operable program or batch file.
'git' is not recognized as an internal or external command,
operable program or batch file.
'git' is not recognized as an internal or external command,
operable program or batch file.

## Make it Code Cell Only if GIT is not ready for large files
!git lfs install

!git lfs track "*.npy"

!git add .gitattributes

!git commit -m "Updating git Attributes"

!git push origin

In [3]:
raw = pd.read_csv("data/train/customer_transaction_data.csv", parse_dates=['date'])
raw.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0
3,2012-01-02,1501,33647,1,67.32,0.00,0.0
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0

In [4]:
data = pd.concat([raw,
           pd.DataFrame(columns=["day","month","year"])],
         axis=1)

data.day = [date.day for date in data.date]
data.month = [date.month for date in data.date]
data.year = [date.year-2000 for date in data.date]

data.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,day,month,year
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,12
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0,2,1,12
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0,2,1,12
3,2012-01-02,1501,33647,1,67.32,0.00,0.0,2,1,12
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0,2,1,12

In [5]:
data.dtypes

date               datetime64[ns]
customer_id                 int64
item_id                     int64
quantity                    int64
selling_price             float64
other_discount            float64
coupon_discount           float64
day                         int64
month                       int64
year                        int64
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1324566 entries, 0 to 1324565
Data columns (total 10 columns):
date               1324566 non-null datetime64[ns]
customer_id        1324566 non-null int64
item_id            1324566 non-null int64
quantity           1324566 non-null int64
selling_price      1324566 non-null float64
other_discount     1324566 non-null float64
coupon_discount    1324566 non-null float64
day                1324566 non-null int64
month              1324566 non-null int64
year               1324566 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 111.2+ MB

In [7]:
npFile = open("npy/customer_transaction_data.npy","wb")
pickle.dump(data, npFile)
npFile.close()

[Data-Exploration 3875f35] Adding Campaign Data npy
 1 file changed, 3 insertions(+)
 create mode 100644 npy/customer_transaction_data.npy
Uploading LFS objects: 100% (1/1), 106 MB | 0 B/s, done
Counting objects: 4, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 536 bytes | 536.00 KiB/s, done.
Total 4 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/agolia14/Coupan-Redemption-Prediction.git
   a85fefc..3875f35  Data-Exploration -> Data-Exploration

In [0]:
#!git add npy/customer_transaction_data.npy
#!git commit -m "Adding Campaign Data npy"
#!git push origin