<a href="https://colab.research.google.com/github/agolia14/Coupan-Redemption-Prediction/blob/Data-Exploration/Item_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from collections import Counter
import pickle

from sklearn.preprocessing import LabelEncoder

In [0]:
!git init
!git config --global user.email "agolia14@gmail.com"
!git remote add origin https://d0e5c5d2c5891214a6eb9a978deb96f359421b01@github.com/agolia14/Coupan-Redemption-Prediction.git
!git fetch
!git checkout Data-Exploration

Initialized empty Git repository in /content/.git/
remote: Enumerating objects: 75, done.
remote: Counting objects: 100% (75/75), done.
remote: Compressing objects: 100% (62/62), done.
remote: Total 75 (delta 29), reused 41 (delta 8), pack-reused 0
Unpacking objects: 100% (75/75), done.
From https://github.com/agolia14/Coupan-Redemption-Prediction
 * [new branch]      Data-Exploration -> origin/Data-Exploration
 * [new branch]      master           -> origin/master
Branch 'Data-Exploration' set up to track remote branch 'Data-Exploration' from 'origin'.
Switched to a new branch 'Data-Exploration'

In [0]:
raw = pd.read_csv("data/train/item_data.csv")
raw.head()

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [0]:
Counter(raw.brand_type)

Counter({'Established': 62842, 'Local': 11224})

In [0]:
Counter(raw.category)

Counter({'Alcohol': 303,
         'Bakery': 1679,
         'Dairy, Juices & Snacks': 2425,
         'Flowers & Plants': 664,
         'Fuel': 14,
         'Garden': 102,
         'Grocery': 32448,
         'Meat': 2080,
         'Miscellaneous': 385,
         'Natural Products': 2533,
         'Packaged Meat': 1966,
         'Pharmaceutical': 24471,
         'Prepared Food': 1880,
         'Restauarant': 78,
         'Salads': 40,
         'Seafood': 728,
         'Skin & Hair Care': 2244,
         'Travel': 19,
         'Vegetables (cut)': 7})

In [0]:
le = LabelEncoder()
brand_type = pd.DataFrame([le.fit_transform(raw.brand_type)]).transpose()
brand_type.columns = ["enc_brand_type"]
category = pd.DataFrame([le.fit_transform(raw.category)]).transpose()
category.columns = ["enc_category"]

data_enc = pd.concat([raw, brand_type, category], axis=1)
data_enc.head()

   item_id  brand   brand_type       category  enc_brand_type  enc_category
0        1      1  Established        Grocery               0             6
1        2      1  Established  Miscellaneous               0             8
2        3     56        Local         Bakery               1             1
3        4     56        Local        Grocery               1             6
4        5     56        Local        Grocery               1             6

In [0]:
data_enc_oneHot = pd.concat([data_enc, 
                             pd.get_dummies(data_enc.brand_type, prefix = "brand"),
                             pd.get_dummies(data_enc.category)], axis=1)
data_enc_oneHot.head()

   item_id  brand   brand_type  ... Skin & Hair Care  Travel  Vegetables (cut)
0        1      1  Established  ...                0       0                 0
1        2      1  Established  ...                0       0                 0
2        3     56        Local  ...                0       0                 0
3        4     56        Local  ...                0       0                 0
4        5     56        Local  ...                0       0                 0

[5 rows x 27 columns]

In [0]:
npFile = open("npy/item_data.npy","wb")
pickle.dump(data_enc_oneHot, npFile)
npFile.close()

!git add npy/item_data.npy
!git commit -m "Adding Item Data npy"
!git push origin

[Data-Exploration cc5ce1f] Adding Item Data npy
 1 file changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 npy/item_data.npy
Counting objects: 4, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 399.25 KiB | 2.05 MiB/s, done.
Total 4 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/agolia14/Coupan-Redemption-Prediction.git
   428ad4e..cc5ce1f  Data-Exploration -> Data-Exploration